# Object files
*.o
*.ko
*.elf

# Libraries
*.lib
*.a

# Shared objects
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.hex
*.bin
*.img
*.axf

*.map
*.dump
*.d

.*

tags
tags.file
cscope.*
ucosii.lds
